/**
 * Simple padding classes that map to the global spacing variables.
 */
.pad-xs         { padding: $flx-spacing-xs; }
.pad-s          { padding: $flx-spacing-s; }
.pad-m          { padding: $flx-spacing-m; }
.pad-l          { padding: $flx-spacing-l; }
.pad-xl         { padding: $flx-spacing-xl; }
.pad-xxl        { padding: $flx-spacing-xxl; }
.pad-xxxl       { padding: $flx-spacing-xxxl; }

.pad-left-xs    { padding-left: $flx-spacing-xs; }
.pad-left-s     { padding-left: $flx-spacing-s; }
.pad-left-m     { padding-left: $flx-spacing-m; }
.pad-left-l     { padding-left: $flx-spacing-l; }
.pad-left-xl    { padding-left: $flx-spacing-xl; }
.pad-left-xxl   { padding-left: $flx-spacing-xxl; }
.pad-left-xxxl  { padding-left: $flx-spacing-xxxl; }

.pad-right-xs   { padding-right: $flx-spacing-xs; }
.pad-right-s    { padding-right: $flx-spacing-s; }
.pad-right-m    { padding-right: $flx-spacing-m; }
.pad-right-l    { padding-right: $flx-spacing-l; }
.pad-right-xl   { padding-right: $flx-spacing-xl; }
.pad-right-xxl  { padding-right: $flx-spacing-xxl; }
.pad-right-xxxl { padding-right: $flx-spacing-xxxl; }

.pad-top-xs     { padding-top: $flx-spacing-xs; }
.pad-top-s      { padding-top: $flx-spacing-s; }
.pad-top-m      { padding-top: $flx-spacing-m; }
.pad-top-l      { padding-top: $flx-spacing-l; }
.pad-top-xl     { padding-top: $flx-spacing-xl; }
.pad-top-xxl    { padding-top: $flx-spacing-xxl; }
.pad-top-xxxl   { padding-top: $flx-spacing-xxxl; }

.pad-bot-xs     { padding-bottom: $flx-spacing-xs; }
.pad-bot-s      { padding-bottom: $flx-spacing-s; }
.pad-bot-m      { padding-bottom: $flx-spacing-m; }
.pad-bot-l      { padding-bottom: $flx-spacing-l; }
.pad-bot-xl     { padding-bottom: $flx-spacing-xl; }
.pad-bot-xxl    { padding-bottom: $flx-spacing-xxl; }
.pad-bot-xxxl   { padding-bottom: $flx-spacing-xxxl; }

/**
 * Simple margin classes that map to the global spacing variables.
 */
.margin-xs         { margin: $flx-spacing-xs; }
.margin-s          { margin: $flx-spacing-s; }
.margin-m          { margin: $flx-spacing-m; }
.margin-l          { margin: $flx-spacing-l; }
.margin-xl         { margin: $flx-spacing-xl; }
.margin-xxl        { margin: $flx-spacing-xxl; }
.margin-xxxl       { margin: $flx-spacing-xxxl; }

.margin-left-xs    { margin-left: $flx-spacing-xs; }
.margin-left-s     { margin-left: $flx-spacing-s; }
.margin-left-m     { margin-left: $flx-spacing-m; }
.margin-left-l     { margin-left: $flx-spacing-l; }
.margin-left-xl    { margin-left: $flx-spacing-xl; }
.margin-left-xxl   { margin-left: $flx-spacing-xxl; }
.margin-left-xxxl  { margin-left: $flx-spacing-xxxl; }

.margin-right-xs   { margin-right: $flx-spacing-xs; }
.margin-right-s    { margin-right: $flx-spacing-s; }
.margin-right-m    { margin-right: $flx-spacing-m; }
.margin-right-l    { margin-right: $flx-spacing-l; }
.margin-right-xl   { margin-right: $flx-spacing-xl; }
.margin-right-xxl  { margin-right: $flx-spacing-xxl; }
.margin-right-xxxl { margin-right: $flx-spacing-xxxl; }

.margin-top-xs     { margin-top: $flx-spacing-xs; }
.margin-top-s      { margin-top: $flx-spacing-s; }
.margin-top-m      { margin-top: $flx-spacing-m; }
.margin-top-l      { margin-top: $flx-spacing-l; }
.margin-top-xl     { margin-top: $flx-spacing-xl; }
.margin-top-xxl    { margin-top: $flx-spacing-xxl; }
.margin-top-xxxl   { margin-top: $flx-spacing-xxxl; }

.margin-bot-xs     { margin-bottom: $flx-spacing-xs; }
.margin-bot-s      { margin-bottom: $flx-spacing-s; }
.margin-bot-m      { margin-bottom: $flx-spacing-m; }
.margin-bot-l      { margin-bottom: $flx-spacing-l; }
.margin-bot-xl     { margin-bottom: $flx-spacing-xl; }
.margin-bot-xxl    { margin-bottom: $flx-spacing-xxl; }
.margin-bot-xxxl   { margin-bottom: $flx-spacing-xxxl; }
